<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Olá!</h1>
    <p>Confira aqui os endpoints:</p>
    <ul>
        <li>back-end-tf-web-gray.vercel.app/api/v1/cadastrar_usuario</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/listar_usuarios</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/detalhes_usuario/&lt;id_do_usuario&gt;</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/alterar_usuario/&lt;id_do_usuario&gt;</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/excluir_usuario/&lt;id_do_usuario&gt;</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/cadastrar_perfil</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/listar_perfis</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/detalhes_perfil/&lt;id_do_perfilp&gt;</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/alterar_perfil/&lt;id_do_perfilp&gt;</li>
        <li>back-end-tf-web-gray.vercel.app/api/v1/excluir_perfil/&lt;id_do_perfilp&gt;</li>
    </ul>
</body>
</html>